<%- include('./partials/head') %>

<main>

  <form class="menu">
    <fieldset>
      <legend>Filter</legend>
      <p>Klas</p>

          <label>
            <input type="checkbox">1D
          </label>

          <label>
            <input type="checkbox">1E
          </label>

          <label>
            <input type="checkbox">1F
          </label>

        <p>Geslacht</p>

          <label>
            <input type="checkbox">Jongetje
          </label>

          <label>
            <input type="checkbox">Meisje
          </label>

          <label>
            <input type="checkbox">Anders
          </label>

        <p>Avatar</p>
          
        <label>
          <input type="checkbox">Met avatar
        </label>

        <label>
          <input type="checkbox">Zonder avatar
        </label>

    </fieldset>

    <fieldset>
      <legend>Sorteer</legend>

        <label>
          <input type="radio">Naam A-Z
        </label>

        <label>
          <input type="radio">Naam Z-A
        </label>
    </fieldset>
  </form>

  <section class="messager">
    <h2>Huidige berichten</h2>

      <ul class="message-block">
          <% messages.forEach(message => { %>
              <li class="messages"><%= message %> </li>
          <% }) %>
      </ul>

      <form method="POST" action="/">
          <label>
              Berichtje:
              <textarea required name="bericht"></textarea>
          </label>
          <button type="submit"> Verstuur bericht </button>
      </form>
  </section>

  <ul>
    <% persons.forEach(person => { %>
      <li><a href="./person/<%= person.id %>"><%= person.name %></a>
        <img src="<%= person.avatar %>" alt="person avatar"></li><%= person.squad_id %>
    <% }) %>
  </ul>

</main>

<%- include('./partials/foot') %>