<%- include('./partials/head') %>

<main>

<section class="menu">
  <div class="filter">
    <h2>Filter:</h2>
      <h3>Klas</h3>
        <form action="">
          <label for="class">
            <input type="checkbox">1D
          </label>

          <label for="class">
            <input type="checkbox">1E
          </label>

          <label for="class">
            <input type="checkbox">1F
          </label>
        </form>

      <h3>Geslacht</h3>
        <form action="">
          <label for="gender">
            <input type="checkbox">Jongetje
          </label>

          <label for="gender">
            <input type="checkbox">Meisje
          </label>
        </form>

      <h3>Avatar</h3>
        <form action="">
          <label for="avatar">
            <input type="checkbox">Met avatar
          </label>

          <label for="avatar">
            <input type="checkbox">Zonder avatar
          </label>
        </form>
  </div>

  <div class="sort">
    <h2>Sorteren:</h2>
      <form action="">

        <label for="name">
          <input type="radio">Naam A-Z
        </label>

        <label for="name">
          <input type="radio">Naam Z-A
        </label>
      </form>
  </div>
</section>

<section class="cards">

  <ul>
    <% persons.forEach(person => { %>
      <li><a href="./person/<%= person.id %>"><%= person.name %></a><%= person.squad_id %>
        <img src="<%= person.avatar %>" alt="person avatar"></li>
    <% }) %>
  </ul>

</section>

</main>

<%- include('./partials/foot') %>